.botao-finalizar {
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #4db6ac 0%, #009688 100%);
    outline: none;
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #d50000 0%, #b71c1c 100%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.botao-finalizar:hover,
.botao-finalizar:focus {
    background: linear-gradient(90deg, #b71c1c 0%, #d50000 100%);
    cursor: pointer;
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
}

.botao-continuar {
    padding: 10px;
    width:auto;
    border-radius: 10px;
    background: linear-gradient(90deg,            #4db6ac 0%,            #009688 100%);
    outline: none;
    border: none;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.botao-continuar:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #009688 0%, #4db6ac 100%);
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
}

.mg-lat-10{
    margin: 0 10px;
}
