.container-promocao {
  background-color: #434343;
  height:100vh ;
  display: flex;
  align-items: center;
  padding: 0 8px;
}


.glAxCh {
  box-sizing: border-box;
  padding: 0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  border: none;
  margin: 5px;
  background-color: #d1d1d1;
  font-size: 1.3em;
  content: '';
  height: 10px;
  width: 10px;
  box-shadow: 0 0 1px 3px rgb(100 100 101);
  border-radius: 50%;
  outline: none;
}

.rec.rec-arrow {
  background-color: #434343;
  box-shadow: 0 0 2px 0px #434343;
  color: #d1d1d1;
}

.rec.rec-arrow:focus,
.rec.rec-arrow:hover {
  background-color: #434343;
}
