.card {
    border: solid 1px #95989A;
    border-radius: 12px;
    width: 266px;
    height: 390px;
    margin: 20px;
    text-align: center;
  }
  .card__foto {
    border: none;
    background-image: url(./img/mulher.png);
    background-repeat: no-repeat;
    height: 258px;
    width: 266px;

  }
  .card__title {
    color: #535353;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
  .card__preco{
    color: #535353;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .card__btn {
    border: 1px solid #535353;
    border-radius: 32px;
    color: #535353;
    margin: 14px auto;
    padding: 8px 16px;
    margin-bottom: 20px;
  }