.card {
    background-color: #3e3e3e;
    border: solid 1px #95989A;
    border-radius: 8px;
    flex: 1 1 20%;
    margin: 8px;
    padding: 16px;
  }
  .card__title {
    color: #00dbf8;
    font-weight: bold;
    margin: 0 auto 8px;
  }
  .card__description {
    color: #fff;
    margin: 8px auto 0;
  }