 .titulo-center {
     color: #434343;    
     font-size: 30px;
     margin: 20px 0;
     text-align: center;
     font-weight: bold;
 }
 .titulo-left{
    color: #434343;    
    font-size: 32px;
    font-weight: bold;
    margin: 20px ;

 }

 .titulo-slogan{
     font-size:16px ;
     font-weight: thin;
    
 }
 
 .titulo-sub{
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
 }