.footer {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px;
  width: 100%;
  height: auto;
}
.footer__title {
  color: #fff;
  flex: 1 0 100%;
  margin: 16px auto;
}

.footer__description {
  color: #95989a;
}
.footer__container {
  display: flex;
}

.footer__texto {
  padding: 20px;
  color: #fff;

  margin: 10px auto;
}
.caixa__texto {
  width: 70%;
}

.footer__link {
  padding: 20px;
  color: #fff;
  flex: 1 0 50%;
  margin: 10px auto;
}

@media (max-width: 500px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__texto {
    max-width: 70%;
    margin: 0 auto;
    padding: 0;
  }
  .caixa__texto {
    width: 100%;
  }
}
