
.img-notFound {
  background-image: url(./404.jpg);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode:overlay ;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  padding: 16px;
  width: 100vw;
  
  display: flex;
  align-items: center;
}
.text-notfound{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  width: 40%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.number-notfound{
  font-size: 3em;
  letter-spacing: .1em;
}
.titulo-notFound{
  font-weight: normal;
  text-align: center;
  width: min-content;
}

@media (max-width:650px) {
  .number-notfound{
    font-size: 2.2em;
  }
  .titulo-notFound{
    font-size: 1.8em;
  }
  .text-notfound{
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
}
@media (max-width:450px) {
  .number-notfound{
    font-size: 2em;
  }
  .titulo-notFound{
    font-size: 1.5em;
    
  }
  .text-notfound{
    height:40%;
    width: 40vw;
  }
}

