.footer{
    align-items: center;
    background-color: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 32px 0 0;
    padding: 32px;
    width: 100vw;
    height: auto;
}
.footer__title{
    color: #fff;
    flex: 1 0 100%;
    margin: 16px auto;
}

.footer__description{
    color: #95989A;

}
.footer__container{
    display: flex;
}

.footer__texto{
    padding: 20px;
    color: #fff;
    flex: 1 0 50%;
    margin: 10px auto;
}
.caixa__texto{
    width: 70%;
}

.footer__link{
    padding: 20px;
    color: #fff;
    flex: 1 0 50%;
    margin: 10px auto;
}