.descricao-container{
    max-width: 500px;
    margin-top:50px;

    
}
.descricao__titulo{
    font-size: 40px;
    font-weight: normal;
}
.descricao__categoria{
    font-size: 14px;
    margin-bottom: 50px;
}
.carroucel{
    width: 500px;
    display: flex;
    align-items: center;
    
}
.section{
    display: flex;
    width: 100%;
justify-content: space-around;
}
.add-card{
   background-color: #009688 ;
   padding: 10px;
   border: solid transparent 1px;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   color: white;
   margin-top: 10px;
   
}
.descricao-btn-container{
    margin: 10px 0;
   
}