.container-politica{
    width: 1000px;
    margin: 0 auto;
}
.titulo-center.titulo-politica{
    margin-top: 30px;
}
.politica-paragrafo{
   font-size: 15px;
   line-height: 22px;  
}
.subtitulo {
    font-weight: bold;
    display: block;
    margin: 20px 0;
    font-size: 15px;
}
@media(max-width:1060px){

    .politica-wrapper{
        max-width: 80%;
        margin: 0 auto;
    }
}
